:root{
  --thumb:#002265;
}
body {
   background:white;
  overflow: overlay;
}
html {
  scroll-behavior: smooth;
  /* background: none; */
}
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb{
    height: 30px;
    background: transparent;
    background-color: var(--thumb);
    border-radius: 10px;
}
.fixed-center{
    z-index: 100;
    font-size: 42px;
    color: black;
    margin-top:320px;
    position: fixed;
}